.calendarWrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

@media screen and (min-width: 320px) {}

@media screen and (min-width: 600px) {}

@media screen and (min-width: 992px) {
    .dairyPageContent {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

    }

    .calculatorForm {
        padding-top: 240px;
        padding-left: 75px;
        padding-right: 75px;

        width: 60%;
    }

    .calendarWrapper {
        width: 260px;
    }

    .summeryAndFoodBlock {
        width: 40%;
        height: 100vh;
        padding-top: 240px;

        background-color: var(--bg-gray-color);
        background-image: url('images/leafs.png');
        background-position: left 20px top 25px;
        background-size: auto 98vh;
        background-repeat: no-repeat;
    }

    .wrapperSummery {
        max-width: 270px;
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;

    }

    .wrapperFoodNotRecommended {
        max-width: 270px;
        margin-left: auto;
        margin-right: auto;
    }
}