.inputProductBlock {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.inputWeightWrapper label {
    width: 100%;
    text-align: right;
}

.inputWeightWrapper input {
    text-align: right;
}

.addProductBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;
}

.plusIcon {
    width: 13px;
    height: 13px;

    fill: #fff;
}

.addProductBtn:hover .plusIcon {
    fill: var(--accent-color);

}

@media screen and (min-width: 320px) {

    .inputProductWrapper {
        display: none;
    }

    .inputWeightWrapper {
        display: none;
    }

    .topBtn {
        display: none;
    }

    .bottomBtn {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 600px) {
    .addProductForm {
        width: 503px;
    }

    .inputProductBlock {
        justify-content: space-between;
        margin-bottom: 60px;
    }

    .inputProductWrapper {
        display: block;
        width: 240px;
    }

    .inputWeightWrapper {
        display: block;
        width: 107px;
    }

    .topBtn {
        display: block;
    }

    .bottomBtn {
        display: none;
    }
}

@media screen and (min-width: 992px) {}