    .wrapper {
        display: flex;
        align-items: center;
        justify-items: center;

        font-weight: 700;
    }

    .item {
        padding: 4px 20px;
    }

    .nic {
        color: var(--font-main-color);
    }

    .exitBtn {
        cursor: pointer;
        color: var(--font-secondary-color);
    }

    .item:not(:last-child) {
        border-right: 2px solid var(--font-secondary-color);
    }

    @media screen and (min-width: 320px) {
        .exitBtn {
            padding: 7px 0 7px 20px;
        }
    }

    @media screen and (min-width: 600px) {
        .item {
            padding: 7px 20px;
        }
    }

    @media screen and (min-width: 992px) {

        .item {
            padding: 7px 20px;
        }

        .item:not(:last-child) {
            border-right: 2px solid var(--font-secondary-color);
        }
    }