.wrapper {
    display: none;
}

.item {
    padding: 7px 20px;
}

.nic {
    color: var(--font-main-color);
}

.exitBtn {
    cursor: pointer;
}

.item:not(:last-child) {
    border-right: 2px solid var(--font-secondary-color);
}

@media screen and (min-width: 320px) {}

@media screen and (min-width: 600px) {
    .wrapper {
        display: flex;
        align-items: center;
        justify-items: center;
    }
}

@media screen and (min-width: 992px) {
    .wrapper {
        display: flex;
        align-items: center;
        justify-items: center;
    }

    .item {
        padding: 7px 20px;
    }

    .item:not(:last-child) {
        border-right: 2px solid var(--font-secondary-color);
    }
}