.dairyPageBg {
    width: 100vw;
    height: 100vh;

    background-repeat: no-repeat;
}

.calendarWrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 156px;
}

@media screen and (min-width: 320px) {
    .dairyPageBg {
        padding-top: 112px;
        background-image: url('../../images/svg/grayBGTablet.svg');
        background-size: auto 360px;
        background-position: center bottom;
        overflow-y: auto;
    }
}

@media screen and (min-width: 600px) {
    .dairyPageBg {
        padding-top: 180px;
        background-image: url('../../images/leafs-rotated.png'), url('../../images/svg/grayBGTablet.svg');
        background-size: auto calc(100vh - 50%), 100vw auto;
        background-position: right -250px bottom -120px, center bottom;
    }

    .calendarWrapper {
        width: 260px;
    }
}

@media screen and (min-width: 992px) {
    .dairyPageBg {
        padding-top: 200px;
        background-image: url('../../images/leafs.png'), url('../../images/svg/grayBG.svg');
        background-size: 58% auto, auto 100%;
        background-position: right -19% top -3%, right bottom;

    }
}