.productsList {
    width: 100%;
    max-height: 200px;

    overflow-y: scroll;
}

.productsListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.productsListItem:not(:last-child) {
    margin-bottom: 16px;
}

.outputTextProductName {
    width: 240px;
}

.outputTextProductWeight {
    width: 107px;
    text-align: right;
}

.outputTextProductCalories {
    width: 107px;
    text-align: right;
}

.closeBtn {
    display: inline-block;
    border: none;
    background-color: transparent;

}

.closeIcon {
    width: 20px;
    height: 20px;

    padding: 4px;
}

@media screen and (min-width: 320px) {}

@media screen and (min-width: 600px) {
    .productsList {
        width: 440px;
        max-height: 244px;
    }
}

@media screen and (min-width: 992px) {
    .productsList {
        width: 640px;
        max-height: 306px;
        padding-right: 40px;
    }
}