.loginFormWrapper {
    max-width: 415px;
}

.loginPageBg {
    width: 100vw;
    height: 100vh;
}

@media screen and (min-width: 320px) {}

@media screen and (min-width: 600px) {
    .loginPageBg {
        background-image: url('../../images/bananas.png'),
            url('../../images/strawberry.png'),
            url('../../images/leafs-tab.png'),
            url('images/svg/grayWaveBG.svg');

        background-size: 55vh auto, 30vh, 95vw auto, auto calc(100vh - 20%);
        background-position: right bottom -80px, right -40px bottom 240px, left top -97px, right -40px bottom -250px;
        background-repeat: no-repeat;
    }

}

@media screen and (min-width: 992px) {
    .loginPageBg {
        background-image: url('../../images/bananas.png'),
            url('../../images/leafs.png'),
            url('../../images/strawberry.png'),
            url('images/svg/grayWaveBG.svg');

        background-size: 55vh auto, auto 100vh, calc(30vh), auto calc(100vh - 3%);
        background-position: right top, right 195px bottom 30px, right 35px bottom 65px, right bottom;
        background-repeat: no-repeat;
    }
}