.outputText {
    /* font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em; */
    padding-bottom: 20px;
    border-bottom: 1px solid var(--input-line-color);

    color: var(--font-main-color);
}