@media screen and (min-width: 320px) {
    .logoImage {
        width: 46px;
    }
}

@media screen and (min-width: 600px) {
    .logoImage {
        margin-right: 10px;
    }
}

@media screen and (min-width: 992px) {
    .logoImage {
        width: 70px;

        margin-right: 0;
    }
}