.wrapper {
    position: relative;

}

.wrapper input {
    display: block;
    width: 100%;
    margin-top: 40px;

    border: none;
    border-bottom: 1px solid var(--font-secondary-color);

    font-size: 18px;
    color: var(--font-main-color);
}

.wrapper input::placeholder {
    color: transparent;
}

.wrapper label {
    position: absolute;
    top: -7px;

    font-weight: 700;
    color: var(--font-secondary-color);

}

.wrapper input:focus+label {
    top: -20px;
}

.wrapper input:not(:placeholder-shown)+label {
    top: -20px;
}