.modalBackDrop {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
}

.modalContent {
    position: relative;
    width: fit-content;
    background-color: #fff;
}

.closeModalBtn {
    position: absolute;
    top: 15px;
    right: 15px;

    display: flex;
    align-items: center;
    justify-items: center;
    width: 20px;
    height: 20px;
    padding: 4px;
    background-color: transparent;
    border: none;
}

.closeIcon {
    width: 12px;
    height: 12px;
}