.modalBackDrop {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
}

.modalContent {
    position: relative;
    background-color: #fff;
    box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);
}

.closeModalBtn {
    position: absolute;
    top: 15px;
    right: 15px;

    display: flex;
    align-items: center;
    justify-items: center;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
}

.closeIcon {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 320px) {
    /* .modalContent {
        width: 100vw;
    } */
}

@media screen and (min-width: 600px) {
    .modalContent {
        width: fit-content;
    }
}

@media screen and (min-width: 992px) {}